body {
    background-color: #404040;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#index-div {
    z-index: 2;
    text-align: center;
    background-color: #404040;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: orange;
    border-style: solid;
}

#index-canvas {
    z-index: 1;
}